.body {
    position: relative;
}
.intro2 {
    display: block; 
    margin: 0 auto; 
    max-width: 600px; 
    padding: 20px;
}

.serverstats {
    /* position: absolute; */
    
    top: 0px;
    background-color: white;
    width: 100%;
    /*border-bottom: 2px dotted gray;*/
}
.online {
    color: green;
}
.offline {
    color: orangered;
}